.body-container {
    margin: auto; 
    border-color:aquamarine;
    border-style: solid;
    border-width: thin;
    width: 480px;
    height: 480px; 
    margin-bottom: 120px; 
}

.row-container{
    display: flex;
}

.grid-square {
    border: solid; 
    border-color: aquamarine;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

