
.container {
    border-color:aquamarine;
    border-style: solid;
    border-width: thin;
    width: 600px;
    height: 600px; 
}

.row-container{
    height: 37.5px;
    display: flex;
}

.grid-square {
    width: 37.5px; 
    border: solid; 
    border-color: aquamarine;
}